<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>issho</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
<style>

#newPj {
	margin-top: 30px;
	padding-left: 75px;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(img/building4.jpg);
	background-size: 100%;
	font-family: Pretendard-Regular;
}

#typing {
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: flex-end;
	font-size: 5.5rem;
	color: white;
	margin-top: 50px;
}

#typeText {
	margin-left: .6rem;
	border-right: 2px solid #ffffff;
	padding-right: .4rem;
	font-size: 5.5rem;
	color: white;
	animation: cursor .9s infinite steps(2);
}

@
keyframes cursor {from { border-right:2px solid #222;
	
}

to {
	border-right: 2px solid #777;
}
}
</style>

</head>

<body>

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-5 col-lg-7 col-md-5">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Dive into Issho!</h1>
									</div>

									<div class="form-group">
										<input type="text" class="form-control form-control-user"
											id="prj_domain" name="prj_domain" required
											aria-describedby="emailHelp" placeholder="프로젝트 도메인을 입력해주세요">
									</div>

									<button type="button"
										class="btn btn-primary btn-user btn-block"
										onclick="moveToPj()">입력</button>

									<div id="newPj">
										<a href="project/newPj" id="newPjBtn"
											class="btn btn-success btn-user btn-icon-split"> <span
											class="icon text-white-50"> <i
												class="fas fa-arrow-right"></i>
										</span> <span class="text">새로운 프로젝트 생성</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="typing">
			<p class="typeText"></p>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>

	<script>
		function moveToPj() {

			let prj_domain = $("#prj_domain").val();
			let validPj = false;

			$.ajax({
				url : "domainCheck",
				type : "POST",
				data : {
					prj_domain : prj_domain
				},
				dataType : 'json',
				success : function(result) {
					if (result == 1) {
						location.href = prj_domain + "/main";
					} else {
						alert('존재하지 않는 프로젝트입니다');
					}
				}
			});
		}
		
		
		
		//타이핑
		const $text = document.querySelector(".typeText");

		// 글자 모음
		const letters = ["一緒に、一生懸命", "Issho"];

		// 글자 입력 속도
		const speed = 100;
		let i = 0;

		// 타이핑 효과
		const typing = async () => {  
		  const letter = letters[i].split("");
		  
		  while (letter.length) {
		    await wait(speed);
		    $text.innerHTML += letter.shift(); 
		  }
		  
		  // 잠시 대기
		  await wait(800);
		  
		  console.log(i);
		  
		  // 지우는 효과
		  if(i == 0){
			  if (letters[i + 1]) remove();
		  } else {
			  if (letters[i - 1]) remove();
		  }
		 
		  console.log(i);
		  
		}

		// 글자 지우는 효과
		const remove = async () => {
		  const letter = letters[i].split("");
		  
		  while (letter.length) {
		    await wait(speed);
		    
		    letter.pop();
		    $text.innerHTML = letter.join(""); 
		  }
		  
		  // 다음 순서의 글자로 지정, 타이핑 함수 다시 실행
		  if(i==0) i++;
		  else i--;
		  
		  console.log(i);
		  
		  
		  typing();
		}

		// 딜레이 기능 ( 마이크로초 )
		function wait(ms) {
		  return new Promise(res => setTimeout(res, ms))
		}

		// 초기 실행
		setTimeout(typing, 2700);
	</script>

</body>

</html>