<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>프로젝트 생성</title>

<!-- Custom fonts for this template-->
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css"></th:block>

<!-- 공통으로 쓰이는 js 파일을 넣는다.-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/sb-admin-2.js}"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
<th:block layout:fragment="script"></th:block>
<script>
	$(function() {
		$("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
			$("body").toggleClass("sidebar-toggled");
			$(".sidebar").toggleClass("toggled");
			if ($(".sidebar").hasClass("toggled")) {
				$('.sidebar .collapse').collapse('hide');
			}
			;
		});

	})
</script>
</head>

<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-9">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">새로운 프로젝트 생성</h1>
							</div>
							<form class="user" th:action="@{/project/newPj}" method="POST" onsubmit="return check();">
								
								<div class="form-group">
									<input type="text" class="form-control form-control-user"
										id="prj_domain" name="prj_domain" required placeholder="프로젝트 도메인을 입력하세요">
								
									<div id="domain"></div>
								</div>
								
								<div class="form-group">
									<input type="text" class="form-control form-control-user"
										id="prj_name" name="prj_name" required placeholder="프로젝트명을 입력하세요">
								</div>
							
								<button type="submit" class="btn btn-primary btn-user btn-block">
									프로젝트 생성 </button>
								
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	
	<script>
		let isAvailable = false;
	
		$("#prj_domain").keyup(function(){
			
			let prj_domain = $("#prj_domain").val();
			
			$.ajax({
				url : "domainCheck",
				type : "POST",
				data : {
					prj_domain : prj_domain
				},
				dataType : 'json',
				success : function(result) {
					if (result == 0) {
						$("#domain").html("사용할 수 있는 도메인입니다.")
						isAvailable = true;
					} else {
						$("#domain").html("사용할 수 없는 도메인입니다.")
						isAvailable = false;
					}
				}
			});
			
		});
		
		function check(){
			
			if(!isAvailable){
				alert('도메인을 다시 확인해주세요');
				return false;
			}
			
			return true;
		}
	
	</script>

</body>

</html>